environment       = "dev"
aws_region        = "us-east-1"
max_receive_count = 3
vpc_id                       = "vpc-00000000000000000"
private_subnet_ids           = ["subnet-00000000000000001", "subnet-00000000000000002"]
application_security_group_id = "sg-00000000000000000"
aurora_min_capacity          = 0.5
aurora_max_capacity          = 4
aurora_instance_count        = 1
